@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #a68f66;
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
