@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Navbar를 제외한 크기를 지정하기 모든 페이지에서 사용하는 높이
**/
.commonHeight {
  min-height: calc(100vh - 4rem);
}

/**
 * resultPage의 액자형태의 border
**/
.borderImage {
  border: 20px solid #dca56b;
  border-image: url("//image.ibb.co/dgydgn/wood_frame.png") 50 64;
}

/**
 * resultPage의 이미지 크기
**/

.resultImageSize {
  height: 60vh;
  width: 40vh;
}

/**
 * Modal창에서 띄워지는 이미지 크기 명시
**/

.modalImageSize {
  width: 800vh;
  height: 60vh;
}

.mainBanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
